.mtable {
    font-family: "Arial";
    background-color: #fff;
}

table {
    padding: 0;
    border-collapse: collapse;
}

.mtd {
    width: 600px;
    padding: 0;
}

.ttd {
    width: 600px;
    padding: 0;
}

.ttd,
.lgb {
    padding-top: 15px;
    padding-bottom: 15px;
}

.lgb {
    background-color: #dcdce5;
    padding: 0;
}

.meters {
    font-size: 0.6em;
}

.phone {
    text-align: right;
    padding-right: 30px;
}

.logo {
    width: 22%;
    padding-left: 30px;
    padding-right: 80px;
}

.imgphone {
    padding-right: 10px;
}

.phone-numb {
    font-size: 16px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}
 
.notification {
    font-size: 13px;
    color: #9999a6;
    font-style: italic;
    margin: 0;
}

.awb {
    background-color: #f5f5f5;
    padding: 0;
}

.inf {
    text-align: left;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 55px;
    padding-top: 35px;
}

.inf h2 {
    margin: 0;
    font-size: 24px;
    color: #24242b;
    font-weight: bold;
}

.inf p {
    font-size: 14px;
    color: #666666;  
    padding-bottom: 20px; 
}

.inf a {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    background-color: #fd8300;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
}

.goodthingstr {
    background-color: #ededf5;
}

.goodthings  p {
    font-size: 13px;
    margin: 8px 0 0 0;
    color: #666666;
}

.goodthings  h3 {
    margin: 0;
    font-size: 14px;
    color: #24242b;
    font-weight: bold;
}

.goodthings {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.houses table td {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    vertical-align: top;
}

.houses h3 {
    margin: 0;
    font-size: 16px;
    color: #1f1f56;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.houses p {
    margin: 0;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 13px;
    color: #9999a6;
}

.hip {
    padding-right: 30px;
}

.houses_i {
    width: 26%;
}

.lines {
    border-top: 1px solid #e3e3eb;
    border-bottom: 2px solid #e3e3eb;
}

.social {
    background-color: #08081a;
}

.social > td {
    padding-top: 30px;
}

.greyb {
    background-color: #dcdce5;
    padding: 0;
}

.copy {
    background-color: #08081a;
}

.copy p {
    font-size: 13px;
    color: #9999a6;
}

.footer {
    text-align: center;
}

.offer {
    background-image: url("https://raw.githubusercontent.com/GreatMaxKyr/hata-plus-letter/master/img/offer-back.jpg");
    background-repeat: repeat;
    color: #ffffff;
    padding-top: 35px;
    padding-bottom: 35px;
}

.offer h2 {
    margin: 0;
    margin-bottom: 12px;
}

.offer p {
    margin: 0;
    width: 390px;
    padding-bottom: 15px;
}

.offer a {
    display: inline-block;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 20px;
    background-color: #1f1f56;
    font-weight: bold;
}

.webpage {
    background-color: #000014;
    color: #fd8300;
}

.webpage > td {
    padding-bottom: 13px;
    padding-top: 13px;
}

.webpage a {
    color: #fd8300;
    padding-right: 9px;
    padding-left: 9px;
    text-decoration: none;
    font-size: 11px;
}